<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362436346103-8kfjun7tt2j6usu3oo06u4ohn5g5ptpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362436346103-8kfjun7tt2j6usu3oo06u4ohn5g5ptpb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>362436346103-4ge6hjq0bmil097ngt0g5955ccsmrbgs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwjEDZh5KM2Q7W-L0efJL6VIvjieizW6s</string>
	<key>GCM_SENDER_ID</key>
	<string>362436346103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cdi.jlge.CorferiasEventos</string>
	<key>PROJECT_ID</key>
	<string>app-marca-blanca</string>
	<key>STORAGE_BUCKET</key>
	<string>app-marca-blanca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362436346103:ios:6b9e394d634c1c3ccdd3f2</string>
	<key>DATABASE_URL</key>
	<string>https://app-marca-blanca-default-rtdb.firebaseio.com</string>
</dict>
</plist>